/*Nav-Bar Stylesheet*/

#nav-bar {
  display: block;
  background-color: #00a087;
  height: 80px;
  padding: 0em 2em 0em 2em;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#nav-bar:after {
  content: "";
  display: table;
  clear: both;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  color: #e8fdff;
  padding: 20px 0px 0px 10px;

  float: left;

}

#nav-bar button {
  margin-top: 5px;
  float: right;
  height: 65px;
  width: 150px;
  background-color: #e8fdff;
  color:  #244751;
  border-color: #244751;
  border-radius: 25px;
  font-size: 15pt;
}


#nav-bar button:active {
  background-color: #eeeeee;
  color: #244751;
  border-color: grey;
}

#nav-bar button:hover {
  transform: scale(1.08);
  border-width: 3px;
}

@media(max-width: 450px){
  #nav-bar button {width: 35%}
}