/* New-tweet form Stylesheet */

section.new-tweet {
  display: none;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-radius: 10px;
  background-color: #eee;
}

.new-tweet {
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 400px;
  margin: 0 auto;
}

.new-tweet:after {
  content: "";
  display: table;
  clear: both;
}

.new-tweet h2 {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
}

.new-tweet textarea {
  width: 350px;
  float: left;
  padding: 5px;
}

.new-tweet input{
  margin-top: 5px;
  background-color: #eeeeee;
  border-color: grey;
  border-radius: 10px;
}

.new-tweet input:hover {
  border-width: 2.5px;
}
.counter {
  float: right;
  font-size: 75%;
  font-style: italic;
}

/* Used by composer-char-counter.js when maxChar has been exceeded*/
.over-max {
  color: red;
}